<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HelpWalkerHOME</title>
</head>
<body>
  <form>
    <label for="BlackEnd">HelpWalkerHOME</label>
    <br>

    <%= UserData.email %>
    <br>
    <%= UserData._id %>

    <% if (loggedIn) { %>
      <a href="/logout">Logout</a>
    <% } %>

    <% if (!loggedIn) { %>
      <a href="/register">Register</a>
      <a href="/login">Login</a>
    <% } %>  

  </form>
</body>
</html>
